<!DOCTYPE html>
<html>
  <head>
    <title><Blisha></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Musha</h1>
    <p>Welcome to Stusha</p>
  </body>
</html>
